{% extends "admin/base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "dist/assets/css/admin-extra.css" %}"/>
    <!-- Configured Head Tags  -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static '/dist/assets/icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static '/dist/assets/icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static '/dist/assets/icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/dist/assets/icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static '/dist/assets/icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/dist/assets/icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static '/dist/assets/icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/dist/assets/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/dist/assets/icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/dist/assets/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/dist/assets/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="{% static '/dist/assets/icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#00bcd4">
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Herolo - Messaging System
        - {{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
