{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Herolo - Messaging System </title>

        <meta name="description" content="Herolo - Messaging System">

    </head>
    <body style="margin: 0; padding: 0;">

        <div style="min-height: 70vh; background: linear-gradient(#d5e3ea, #fff); padding-top: 2%; color: #999">
           <div style="margin: 0 auto; width: 80%">
                <h2>
                    Herolo - Messaging System
                </h2>

                <h3>You can visit <a href="/api/" target="_blank">The Browsable REST API</a>.</h3>
                <p><cite>"Django REST Framework supports generating human-friendly HTML output for each resource when the HTML format is requested.
                    These pages allow for easy browsing of resources, as well as forms for submitting data to the resources using POST, PUT, and DELETE."</cite></p>
                <h5>Description:</h5>
                <p>In Rest API you can get all users: <a href="/api/hrl_users/">/api/hrl_users/</a>, change your password, and create a new user. Admin user can also change password to any user.</p>
                <p>You can get all messages which you sent and received:  <a href="/api/hrl_messages/">/api/hrl_messages/</a>.</p>
                <p>You can filter your messages: <a href="/api/hrl_messages/?unread">/api/hrl_messages/?unread</a> will view all unread messages,
                   <a href="/api/hrl_messages/?tome">/api/hrl_messages/?tome</a> will get all messages for curent user,
                    and <a href="/api/hrl_messages/?my">/api/hrl_messages/?my</a> will get all messages from current user.
                </p>
                <p>If you are trying to get the message, which is not from you and not to you, you are get an "HTTP 404 Not Found" response.</p>
                <p>You can also delete a message, if you are "sender" or "receiver".</p>
                <p>Admin user can view or delete all messages of all users (and also filter them).
                    Get all unread messages to admin: <a href="/api/hrl_messages/?unread&tome">/api/hrl_messages/?unread&tome</a></p>

                <p>If current user "read" the message (sent GET request for view message item) and he is a "receiver", this message automatically sets "read" flag to "true".
                    You can also set this flag to "true" or "false" by PUT request.</p>
                {% if initial_data.user.is_staff or initial_data.user.is_superuser %}
                    <h3>You can visit an additional <a href="/admin/" target="_blank">Admin application</a>.</h3>
                {% else %}
                    <h3>For visit an additional admin application, please login as "admin" user: <a href="/admin/login/?next=/admin/" target="_blank">/admin/login/?next=/admin/</a></h3>
                {% endif %}
                <p><cite>"One of the most powerful parts of Django is the automatic admin interface.
                        It reads metadata from your models to provide a quick, model-centric interface where trusted users can manage content on your site."</cite></p>

                <h3>You can <a href="/api-auth/logout/?next=/">logout and login as another user</a> for trying different user permissions.</h3>

                <h3>Current user data:</h3>
                <ul>
                    {% for key,value in initial_data.user.items %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
                <h3>Lorem ipsum dolor sit amet...</h3>
                <p>Many thanks to <a href="https://www.lipsum.com/" target="_blank">Lorem Ipsum Generator</a></p>
                <p><cite>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</cite></p>

                <h4>Implemented by Leonid Volkov (leonvolkov@gmail.com)</h4>

           </div>
        </div>

    </body>
</html>


